<div class="modal-header">
  <h3 class="modal-title">Connexion</h3>
</div>
<div id="login-modal" class="modal-body">
  <div class="loader text-center" style="display: none;">
    <img src="assets/images/ajax-loader.gif"/>
  </div>
  <div class="content">
    <div class="error text-center" style="display: none;">
      <p>Nom d'utilisateur ou mot de passe incorrects.</p>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="username" class="col-sm-4 control-label">Nom d'utilisateur</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="username" placeholder="Nom d'utilisateur" ng-model="user.username">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Mot de passe</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password" placeholder="Mot de passe" ng-model="user.password">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
  <button class="btn btn-primary" type="button" ng-click="ok()">Connexion</button>
</div>