<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 dashboard-nav">
      <ng-include src="'view/page/dashboard/embed/dashboard-submenu.html'" include-replace></ng-include>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10 history-page">
      <h3>Historique</h3>

      <div class="loader-container loader-history main-loader">
        <img src="assets/images/ajax-loader.gif"/>
      </div>

      <div class="row filters">
        <div class="col-sm-12">
          <hr>
        </div>
        <div class="order form-group col-sm-6" ng-if="historyList.length">
          <label for="order-filter"><i class="glyphicon glyphicon-sort"></i> Trier</label>
          <select id="order-filter" name="order-filter" class="form-control" ng-model="historyOrderBy">
            <option value="+date">Dates croissantes</option>
            <option value="-date">Dates décroissantes</option>
          </select>
        </div>
        <div class="search form-group col-sm-6" ng-if="historyList.length">
          <label for="text-filter"><i class="glyphicon glyphicon-search"></i> Recherche</label>
          <input id="text-filter" type="search" class="form-control" ng-model="historyQuery" placeholder="Type d'action, description de l'action ...." aria-label="filtre" />
        </div>
        <div class="no-data-message col-sm-6" ng-if="!historyList.length">
          Vous n'avez pas encore effectué d'action pour le moment.
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
      </div>

      <div class="table-responsive history-table" ng-if="historyList.length">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="text-center">Points</th>
            <th class="text-center">Date</th>
            <th class="text-center">Action</th>
            <th class="text-center">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="history in historyList | filter:historyQuery | orderBy:historyOrderBy">
            <td class="text-center positive" ng-if="history.hasOwnProperty('citizen_act')">
              +{{history.citizen_act.points}}
            </td>
            <td class="text-center negative" ng-if="history.hasOwnProperty('partner_offer')">
              -{{history.partner_offer.points}}
            </td>
            <td class="text-center">{{history.date | amUtc | amLocal | amDateFormat:'DD/MM/YY HH:mm'}}</td>
            <td class="text-center" ng-if="history.hasOwnProperty('citizen_act')">
              Action citoyenne
            </td>
            <td class="text-center" ng-if="history.hasOwnProperty('partner_offer')">
              Utilisation d'une offre
            </td>
            <td class="text-center" ng-if="history.hasOwnProperty('citizen_act')">
              {{history.citizen_act.title}} - {{history.citizen_act.description | cut:true:50:'...'}}
            </td>
            <td class="text-center" ng-if="history.hasOwnProperty('partner_offer')">
              {{history.partner_offer.title}} - {{history.partner_offer.description | cut:true:50:'...'}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



