<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 dashboard-nav">
      <ng-include src="'view/page/dashboard/embed/dashboard-submenu.html'" include-replace></ng-include>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
      <h3>Profil</h3>

      <div class="row">

        <div class="col-sm-6 col-md-8">

          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">Mes informations</h4>
            </div>

            <div class="panel-body">

              <div ng-show="message.success" class="alert alert-success" role="alert">{{message.success}}</div>
              <div ng-show="message.info" class="alert alert-info" role="alert">{{message.info}}</div>
              <div ng-show="message.error" class="alert alert-danger" role="alert">{{message.error}}</div>

              <form class="form-horizontal" ng-submit="processEditProfileForm()">
                <div class="form-group">
                  <label class="col-sm-3 col-sm-offset-1 control-label">Nom d'utilisateur</label>
                  <div class="col-sm-7">
                    <p class="form-control-static">{{$root.user.info.username}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="col-sm-3 col-sm-offset-1 control-label">Adresse mail</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="email" name="email" placeholder="{{$root.user.info.email}}" ng-model="editProfileForm.email" ng-disabled="!isEdit">
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstName" class="col-sm-3 col-sm-offset-1 control-label">Prénom</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstName" name="first_name" placeholder="{{$root.user.info.first_name}}" ng-model="editProfileForm.firstName" ng-disabled="!isEdit">
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastName" class="col-sm-3 col-sm-offset-1 control-label">Nom</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="{{$root.user.info.last_name}}" ng-model="editProfileForm.lastName" ng-disabled="!isEdit">
                  </div>
                </div>
                <div class="form-group">
                  <label for="newPassword" class="col-sm-3 col-sm-offset-1 control-label">Changer de mot de passe</label>
                  <div class="col-sm-7">
                    <input type="password" class="form-control" id="newPassword" placeholder="Nouveau mot de passe" ng-model="editProfileForm.password" ng-disabled="!isEdit">
                    <br>
                    <input type="password" class="form-control" id="newPasswordConfirmation" placeholder="Confirmation du nouveau mot de passe" ng-model="editProfileForm.passwordConfirmation" ng-disabled="!isEdit">
                  </div>
                </div>
                <div class="text-center">
                  <button ng-show="!isEdit" ng-click="isEdit = !isEdit" type="button" class="btn btn-default">Éditer</button>
                  <button ng-show="isEdit" ng-click="isEdit = !isEdit" type="button" ng-click="resetEditProfileForm()" class="btn btn-default">Annuler</button>
                  <button ng-show="isEdit" type="submit" class="btn btn-primary">Modifier</button>
                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img ng-src="assets/images/user-anonymous.png">
            <div class="caption">
              <hr>
              <h3 class="text-center">{{$root.user.info.username}}</h3>
              <h4 class="text-center text-capitalize">{{$root.user.info.first_name}} {{$root.user.info.last_name}}</h4>
              <hr>
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-center">
                    Points restants :
                    <br>
                    <br>
                    <a href="#/offers">
                      <span class="pts-logo pts-primary pts-lg">{{$root.user.info.current_points}}</span>
                    </a>
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="text-center">
                    Points gagnés :
                    <br>
                    <br>
                    <span class="pts-logo pts-lg">{{$root.user.info.global_points}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>



