<div class="container-fluid welcome welcome-concept welcome-small">
  <div class="text-center">
    <h1 class="text-capitalize">Lyon Rewards</h1>
    <h2>Concept</h2>
  </div>
</div>

<div class="concept-page">

  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h3>Origine</h3>
        <p class="text-justify">
          <b>Lyon Rewards</b> est avant tout une idée innovante.
          Être citoyen est profitable à tous, sa famille, ses amis, ses voisins, mais aussi sa ville !
          Cependant, ces petits gestes demandent un effort sans récompense apparante.
          C'est là que <b>Lyon Rewards</b> entre en jeu avec cette idée simple : pourquoi ne pas valoriser les actions citoyennes dans la ville de Lyon ?
        </p>
        <p class="text-justify">
          Le principe est plutôt simple, vous réalisez une action citoyenne, comme se déplacer en vélo ou en bus à la place de sa voiture,
          participer aux évènements de la ville de Lyon, et en échange vous recevez des points.<br>
          Il ne vous reste plus qu'à aller utiliser ces points pour avoir des réductions ou des cadeaux chez nos partenaires !
        </p>
      </div>
      <div class="col-sm-3 col-xs-4">
        <div class="thumbnail">
          <img ng-src="/assets/images/lyon-rewards-icon.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3>Comment participer ?</h3>
        <p class="text-justify">
          Créer votre compte directement en cliquant <a href ng-click="$root.signup()">ici</a>, et téléchargez notre application mobile sur le Play Store.
          Il ne vous reste plus qu'à trouver des QRcode dans les évènements de Lyon ou de vous déplacer avec votre téléphone !
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid inverse mobile">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 download">
          <div class="row text-center">
            <a href="https://play.google.com/store" title="Télécharger l'application Lyon Rewards pour Android">
              <img ng-src="/assets/images/play-store-logo.png">
            </a>
          </div>
          <div class="row disabled text-center">
            <img ng-src="/assets/images/app-store-logo.png" title="Télécharger l'application Lyon Rewards pour les produits Apple">
            <p>Bientôt disponible</p>
          </div>
          <div class="row disabled text-center">
            <img ng-src="/assets/images/windows-store-logo.png" title="Télécharger l'application Lyon Rewards pour les produits Microsoft">
            <p>Bientôt disponible</p>
          </div>
        </div>
        <div class="col-sm-8 mockup-mobile">
          <div class="wrapper">
            <img ng-src="/assets/images/app-mockup.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h3>Récompenses</h3>
        <p class="text-justify">
          Consultez toutes nos offres pour dépenser vos points en cliquant <a href="#/offers">ici</a>.
        </p>
        <div class="loader-container loader-partners">
          <img src="assets/images/ajax-loader.gif"/>
        </div>
      </div>
    </div>

    <div class="row-fluid partners">
      <div class="col-sm-3 col-xs-6 btn" ng-repeat="partner in partners" ng-click="onClickPartner(partner)">
        <div class="thumbnail">
          <img ng-src="{{partner.image_url}}" err-src="assets/images/gift.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <hr>
        <h3>Navigation</h3>
        <p class="text-justify">
          Utilisez notre site sur toutes les plateformes afin de consulter plus facilement les offres mais aussi de modifier son profil.<br>
          Un espace privé pour chaque utilisateur est en place, permettant ainsi de visualiser son historique de points et ses habitudes de transport.
        </p>
        <div class="thumbnail">
          <img ng-src="/assets/images/browser-mockup.png">
          <div class="caption text-center" >
            <h3>{{partner.name}}</h3>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





