/* UI Bootstrap - To prevent default bootstrap cursor properties with angular */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background-color: #fff;
}

.welcome {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.event {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.event-default {
    border-left-color: #1b809e;
}

.media-footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}