/**************************************************************************************
 ***                             AngularJS Modules CSS                              ***
 **************************************************************************************/

/* Angular UI Bootstrap - To prevent default bootstrap cursor properties with angular */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Angular UI Google Map */
.angular-google-map-container { height: 400px; }
.well.wrapper-angular-google-map { height: 440px; }

/* Angular Animate */
.animate-repeat.animate-appear.ng-move,
.animate-repeat.animate-appear.ng-enter,
.animate-repeat.animate-appear.ng-leave {
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-repeat.animate-appear.ng-leave.ng-leave-active,
.animate-repeat.animate-appear.ng-move,
.animate-repeat.animate-appear.ng-enter {
    opacity:0;
}

.animate-repeat.animate-appear.ng-leave,
.animate-repeat.animate-appear.ng-move.ng-move-active,
.animate-repeat.animate-appear.ng-enter.ng-enter-active {
    opacity:1;
}

/* Angular Loading Bar - Custom color */
#loading-bar .bar {
    background: #c42127;
}

#loading-bar .peg {
    -moz-box-shadow: #c42127 1px 0 6px 1px;
    -ms-box-shadow: #c42127 1px 0 6px 1px;
    -webkit-box-shadow: #c42127 1px 0 6px 1px;
    box-shadow: #c42127 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #c42127;
    border-left-color: #c42127;
}

/**************************************************************************************
 ***                                     General                                    ***
 **************************************************************************************/

body {
    background-color: #fff;
}

body > .main {
    min-height: 70vh;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-loader {
    min-height: 50vh;
}

.media-footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.badge-custom {
    display: inline-block;
    min-width: 10px;
    padding: 7px 10px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin: 5px;
}

.badge-custom-primary {
    background-color: #c42127;
}

.pts-logo {
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    background: url('../images/lyon-rewards-icon.png') no-repeat right center #777;
    background-size: 18px;
    padding: 3px 23px 3px 7px;
}

.pts-primary {
    background-color: #c42127;
}

.pts-lg {
    font-size: 18px;
    background-size: 22px;
    padding-right: 26px;
}

.row-fluid {
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
}

.row-fluid .col-sm-1, .row-fluid .col-sm-2, .row-fluid .col-sm-3, .row-fluid .col-sm-4, .row-fluid .col-sm-5, .row-fluid .col-sm-6, .row-fluid .col-sm-7, .row-fluid .col-sm-8, .row-fluid .col-sm-9, .row-fluid .col-sm-10, .row-fluid .col-sm-11, .row-fluid .col-sm-12,
.row-fluid .col-md-1, .row-fluid .col-md-2, .row-fluid .col-md-3, .row-fluid .col-md-4, .row-fluid .col-md-5, .row-fluid .col-md-6, .row-fluid .col-md-7, .row-fluid .col-md-8, .row-fluid .col-md-9, .row-fluid .col-md-10, .row-fluid .col-md-11, .row-fluid .col-md-12,
.row-fluid .col-lg-1, .row-fluid .col-lg-2, .row-fluid .col-lg-3, .row-fluid .col-lg-4, .row-fluid .col-lg-5, .row-fluid .col-lg-6, .row-fluid .col-lg-7, .row-fluid .col-lg-8, .row-fluid .col-lg-9, .row-fluid .col-lg-10, .row-fluid .col-lg-11, .row-fluid .col-lg-12  {
    float:none;
    display:inline-block;
    white-space:normal;
    vertical-align:top;
}

a, a:hover, a:focus {
    color: #c42127;
}

.badge {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-primary {
    background-color: #c42127;
    border-color: #951f25;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #8c1e24;
    border-color: #7b1e24;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #c42127;
}

/**************************************************************************************
 ***                                      Header                                    ***
 **************************************************************************************/

.welcome {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.welcome.welcome-home {
    background-image: url('../images/header/lyon-musee-des-confluances.jpg');
}

.welcome.welcome-concept {
    background-image: url('../images/header/lyon-parc-tete-or-art.jpg');
}

.welcome.welcome-ranking {
    background-image: url('../images/header/lyon-place-bellecour-roue-nuit.jpg');
    background-position: center -390px;
}

.welcome.welcome-partners {
    background-image: url('../images/header/lyon-pont.jpg');
}

.welcome > div {
    background-color: rgba(34,34,34,0.7);
    padding: 20px 0;
    width: 100%;
}

.welcome > div > h1 {
    margin-top: 5px;
}

.welcome.welcome-small {
    height: 200px;
}

.welcome.welcome-small > div {
    padding: 5px 0;
}

.navbar {
    border-bottom-color: #ccc;
}

.navbar-default .navbar-nav a {
    border-bottom: solid 2px transparent;
    max-height: 50px;
}

.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus {
    border-bottom-color: #c42127;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    border-bottom-color: #ccc;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    padding: 5px;
}

/**************************************************************************************
 ***                                      Footer                                    ***
 **************************************************************************************/

footer {
    background: #222;
    margin-top: 30px;
    color: #fff;
    padding: 10px 0;
}

footer a,
footer a:hover,
footer a:active {
    color: #fff;;
}

@media (min-width: 768px) {
    footer .separator {
        border-left: solid 1px #fff;
        min-height: 180px;
    }
}

@media (max-width: 768px) {
    footer .separator {
        margin-top: 15px;
        border-top: solid 1px #fff;
        padding-top: 15px;
    }
}

footer .logo-lw img {
    height: 150px;
}

footer .title-lw h2 {
    margin: 5px;
}

footer .logo-insa img {
    height: 60px;
    margin-top: 10px;
}

footer .logo-vdl img {
    margin-top: 40px;
    height: 60px;
}

#scroll-top-container {
    position: fixed;
    right: 10px;
    bottom: 20px;
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    opacity: 0.4;
}

#scroll-top-container:hover {
    opacity: 1;
}

#scroll-top-container .full-text {
    font-size: 0;
    opacity: 0;
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

#scroll-top-container:hover .full-text {
    font-size: 1em;
    opacity: 1;
}

/**************************************************************************************
 ***                                    Home page                                   ***
 **************************************************************************************/

.event {
    padding: 20px 20px 10px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.event-default {
    border-left-color: #c42127;
}

.event .media-right .well {
    height: 140px;
    width: 150px;
    padding: 9px;
}

.event .crop {
    height: 120px;
    width: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event .crop img.media-object {
    max-width: 240px;
    max-height: 220px;
}

/**************************************************************************************
 ***                                   Dashboard page                               ***
 **************************************************************************************/

.dashboard-nav {
    border-right: 1px solid #eee;
    min-height: 100vh;
    margin-top: -20px;
}

/**************************************************************************************
 ***                                    Offers page                                 ***
 **************************************************************************************/

.offers-page .offers .thumbnail img {
    height: 100px;
    margin-top: 20px;
}

.offers-page .offer-scroller {
    height: 230px;
    overflow-y: hidden;
    position: relative;
}