<div class="ui inverted vertical center aligned segment">
  <div class="ui text container promotion">
    <h1 class="ui inverted header">
      Lyon Rewards
    </h1>
    <h2>Et si être citoyen permettait d'économiser de l'argent ?</h2>
    <a class="ui huge primary button" href="#/concept">Découvrir <i class="right arrow icon"></i></a>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">

    <ng-include src="'view/embed/old-browser.html'" include-replace></ng-include>

    <div class="row">
      <h1>Accueil</h1>
    </div>
  </div>

</div>

