<div class="container-fluid welcome welcome-home">
  <div class="text-center">
    <h1 class="text-capitalize">Lyon Rewards</h1>
    <h4>Et si être citoyen permettait d'économiser de l'argent ?</h4>
    <br>
    <a class="btn btn-primary" href="#/concept">Découvrir <i class="glyphicon glyphicon-arrow-right"></i></a>
  </div>
</div>

<div class="container home">

  <div class="row">

    <div class="col-sm-8">

      <div class="loader-container">
        <img src="assets/images/ajax-loader.gif"/>
      </div>

      <div class="events">

        <!-- Events Information -->
        <div class="events-info" ng-controller="EventsInfoCtrl">

          <div class="panel panel-default">

            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-4 text-center">
                  Évènements en cours : <span class="points points-primary">{{currentEvents.length}}</span>
                </div>
                <div class="col-sm-4 text-center">
                  Tout les évènements : <span class="points">{{events.length}}</span>
                </div>
                <div class="col-sm-4 text-right">
                  <button type="button" class="btn btn-default" ng-click="toggle()">
                    <span ng-show="isCollapsed">Voir la carte <i class="glyphicon glyphicon-chevron-up"></i></span>
                    <span ng-show="!isCollapsed">Réduire la carte <i class="glyphicon glyphicon-chevron-down"></i></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="panel-body" uib-collapse="isCollapsed">
                <p class="text-center lead">Les évènements en cours</p>
                <div class="well wrapper-angular-google-map">
                  <div ng-if="!isVisible" class="loader-container">
                    <img src="assets/images/ajax-loader.gif"/>
                  </div>
                  <ui-gmap-google-map ng-if="isVisible" center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker idKey='event.id' coords='{latitude:event.latitude,longitude:event.longitude}' ng-repeat="event in currentEvents"></ui-gmap-marker>
                  </ui-gmap-google-map>
                </div>
            </div>

            <div class="panel-footer">
              <div class="row">

                <div class="form-group col-sm-6">
                  <label for="text-filter"><i class="glyphicon glyphicon-search"></i> Recherche</label>
                  <input id="text-filter" type="search" class="form-control" ng-model="eventsQuery" placeholder="tags, titre, ..." aria-label="filtre" />
                </div>

                <div class="form-group col-sm-6">
                  <label for="order-filter"><i class="glyphicon glyphicon-sort"></i> Trier</label>
                  <select id="order-filter" name="order-filter" class="form-control" ng-model="eventsOrderBy">
                    <option value="+end_date">Date de fin de l'évènement (croissant)</option>
                    <option value="-end_date">Date de fin de l'évènement (décroissant)</option>
                    <option value="+start_date">Date de début de l'évènement (croissant)</option>
                    <option value="-start_date">Date de début de l'évènement (décroissant)</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Events display -->
        <div class="media event event-default animate-repeat animate-appear" ng-repeat="event in events | filter:eventsQuery | orderBy: eventsOrderBy" ng-controller="EventCtrl">

          <div class="media-body">
            <a href ng-click="toggle()">
              <h4 class="media-heading">
                {{event.title}}
              </h4>
            </a>
            <div uib-collapse="!isCollapsed" ng-click="toggle()">
              <p class="text-justify">{{event.description | cut:true:100:' ...'}}</p>
            </div>
            <div uib-collapse="isCollapsed">
              <p class="text-justify">{{event.description}}</p>
            </div>
          </div>

          <div class="media-right">
            <div class="well">
              <div class="crop">
                <a href ng-click="toggle()">
                  <img class="media-object" ng-src="{{event.image_url}}" err-src="assets/images/gift.png">
                </a>
              </div>
            </div>
          </div>

          <div class="media-footer">

            <div uib-collapse="isCollapsed">

              <div class="well wrapper-angular-google-map">
                <div ng-if="!isVisible" class="loader-container">
                  <img src="assets/images/ajax-loader.gif"/>
                </div>
                <ui-gmap-google-map ng-if="isVisible" center='map.center' zoom='map.zoom'>
                  <ui-gmap-marker idKey='event.id' coords='map.center'></ui-gmap-marker>
                </ui-gmap-google-map>
              </div>

              <hr>
              <div class="tags">
                Tags :
                <span class="badge" ng-repeat="tag in event.tags">
                  {{getTag(tag).title}}
                </span>
              </div>
              <hr>
              
            </div>

            <p>
              <span class="publish-date">
                <i class="glyphicon glyphicon-time"></i>
                Début <span am-time-ago="event.start_date"></span> <span>({{event.start_date | amUtc | amLocal | amDateFormat:'DD/MM/YY'}})</span> -
                Fin <span am-time-ago="event.end_date"></span> <span>({{event.end_date | amUtc | amLocal | amDateFormat:'DD/MM/YY'}})</span>
              </span>
              <span class="pull-right">
                <button type="button" class="btn btn-default" ng-click="toggle()">
                  <span ng-show="isCollapsed"><i class="glyphicon glyphicon-plus"></i> Plus d'informations</span>
                  <span ng-show="!isCollapsed"><i class="glyphicon glyphicon-minus"></i> Moins d'informations</span>
                </button>
              </span>
            </p>

          </div>
        </div>

        <div class="media" ng-if="events.length == 0">
          <div class="media-body">
            Pas d'évènement pour l'instant.
          </div>
        </div>

      </div>

    </div>

    <!-- Ranking -->
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Utilisateur</th>
                <th>Points</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Antoine</td>
                <td>3500</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Pierre</td>
                <td>2400</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Jonathan</td>
                <td>100</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



