<div class="container-fluid welcome welcome-partners welcome-small">
  <div class="text-center">
    <h1 class="text-capitalize">Lyon Rewards</h1>
    <h2>Partenaires & Offres</h2>
  </div>
</div>

<div class="container offers-page">

  <h3>Offres</h3>

  <div class="loader-container loader-offers main-loader">
    <img src="assets/images/ajax-loader.gif"/>
  </div>

  <div class="row filters">
    <div class="col-sm-12">
      <hr>
    </div>
    <div class="partners form-group col-sm-6">
      <label for="partner-filter"><i class="glyphicon glyphicon-gift"></i> Partenaires</label>
      <select id="partner-filter" name="partner-filter" class="form-control" ng-model="selectedPartner.partner.id">
        <option value="!!">Tous</option>
        <option ng-repeat="offer in offers | unique: 'partner.id'" value="{{offer.partner.id}}">{{offer.partner.name}}</option>
      </select>
    </div>
    <div class="order form-group col-sm-6">
      <label for="order-filter"><i class="glyphicon glyphicon-sort"></i> Trier</label>
      <select id="order-filter" name="order-filter" class="form-control" ng-model="offersOrderBy">
        <option value="+points">Points croissant</option>
        <option value="-points">Points décroissant</option>
        <option value="+partner.name">Partenaires croissant</option>
        <option value="-partner.name">Partenaires décroissant</option>
      </select>
    </div>
    <div class="col-sm-12">
      <hr>
    </div>
  </div>

  <div class="row offers">
    <div class="col-sm-6 col-md-4 col-lg-3 animate-repeat animate-appear" ng-repeat="offer in offers | filter:selectedPartner | orderBy:offersOrderBy">

      <div class="thumbnail">

        <img ng-src="{{offer.partner.image_url}}" err-src="assets/images/gift.png">


        <div class="caption text-center" >
          <perfect-scrollbar class="offer-scroller">
            <h3>{{offer.title}}</h3>
            <p>{{offer.description}}</p>
            <hr>
            <p>
              Points :
              <button type="button" class="btn"
                      ng-class="{'btn-primary':offer.points<=$root.user.info.current_points,'btn-default':offer.points>$root.user.info.current_points}"
                      uib-tooltip="{{offer.points<=$root.user.info.current_points && 'Utiliser !' || ($root.user.isLogin && 'Pas assez de points !' || 'Connectez-vous !')}}"
                      ng-click="usePoints(offer)">
                {{offer.points}}
              </button>
            </p>
            <hr>
            <p>Proposé par {{offer.partner.name}}</p>
          </perfect-scrollbar>
        </div>

      </div>
      <!--<pre>{{ offer | json }}</pre>-->
    </div>
    <div ng-if="offers.length == 0">
      Pas d'offres pour l'instant.
    </div>
  </div>
</div>
