<div class="container-fluid welcome welcome-ranking welcome-small">
  <div class="text-center">
    <h1 class="text-capitalize">Lyon Rewards</h1>
    <h3>Classement</h3>
  </div>
</div>

<div class="container">
  <h2>Classement</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Total de point</th>
        <th>Point gagné aujourd'hui</th>
        <th>Inscrit depuis</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Antoine</td>
        <td>3500</td>
        <td>600</td>
        <td>10 minutes</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Pierre</td>
        <td>2400</td>
        <td>700</td>
        <td>3 mois</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jonathan</td>
        <td>100</td>
        <td>100</td>
        <td>3 ans</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
