<div class="container-fluid welcome welcome-ranking welcome-small">
  <div class="text-center">
    <h1 class="text-capitalize">Lyon Rewards</h1>
    <h2>Classement</h2>
  </div>
</div>

<div class="container ranking-page">
  <div class="table-responsive ranking">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Total de points</th>
        <th>Points gagnés aujourd'hui</th>
        <th>Points gagnés durant le mois</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="userRank in usersRanking">
        <th scope="row">{{$index + 1}}</th>
        <td>{{userRank.username}}</td>
        <td>{{userRank.global_points}}</td>
        <td>{{userRank.last_tfh_points}}</td>
        <td>{{userRank.last_month_points}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
